<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

      <h2>Contact</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est eveniet nemo quisquam aliquid assumenda, soluta dolorem suscipit, vel ex tempore mollitia, eum dolorum. Voluptas similique natus, autem inventore accusantium blanditiis doloribus temporibus beatae, officiis rem eos, cumque tempore molestiae quo.</p>







      <%- include('./partials/footer.ejs') %>

</body>
 
<%- include('./partials/script.ejs') %>

</html>